<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Log In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formulario">
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <p ion-text class="text08" *ngIf="formulario.get('email').touched && formulario.get('email').hasError('required')">
            <ion-text color="danger">
                Este campo é obrigatório
            </ion-text>
        </p>
        <p ion-text class="text08" *ngIf="formulario.get('email').touched && formulario.get('email').hasError('email')">
            <ion-text color="danger">
                Informe um E-mail valido
            </ion-text>
        </p>

        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <p ion-text class="text08" *ngIf="formulario.get('password').touched && formulario.get('password').hasError('required')">
            <ion-text color="danger">
                Este campo é obrigatório
            </ion-text>
        </p>

        <ion-row>
            <ion-col>
                <ion-button (click)="Login()" type="submit" color="danger" expand="block" [disabled]="!formulario.valid">Sign In</ion-button>
                <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
            </ion-col>
        </ion-row>
    </form>
</ion-content>