<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <ion-grid>
          <ion-col>
            <h2>Bem-vindo</h2>
          </ion-col>
          <ion-col>
            <p>Ao <b>appname</b> </p>
          </ion-col>
        </ion-grid>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <ion-grid>
          <ion-col>
            <h2>O que é o appname?</h2>
          </ion-col>
          <ion-col>
            <p><b>appname</b> é um aplicativo que calcula e guarda seu IMC como uma forma de ajudar ao ?controle de peso?</p>
          </ion-col>
        </ion-grid>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <ion-grid>
          <ion-col>
            <h2>Ready to Play?</h2>
          </ion-col>
          <ion-col>
            <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-col>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>